<settings>

    <setting propertyKey="@Properties.Language" title="@Strings.LanguageTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Language1</listEntry>
            <listEntry value="2">@Strings.Language2</listEntry>
            <listEntry value="3">@Strings.Language3</listEntry>
            <listEntry value="4">@Strings.Language4</listEntry>
            <listEntry value="5">@Strings.Language5</listEntry>
            <listEntry value="6">@Strings.Language6</listEntry>
            <listEntry value="7">@Strings.Language7</listEntry>
            <listEntry value="8">@Strings.Language8</listEntry>
            <listEntry value="9">@Strings.Language9</listEntry>
            <listEntry value="10">@Strings.Language10</listEntry>
            <listEntry value="0">@Strings.Language0</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Date" title="@Strings.DateTitle">
    	<settingConfig type="boolean"/>
    </setting>

	<setting propertyKey="@Properties.Font" title="@Strings.FontTitle">
		<settingConfig type="list">
			<listEntry value="1">@Strings.Font1</listEntry>
			<listEntry value="2">@Strings.Font2</listEntry>
			<listEntry value="3">@Strings.Font3</listEntry>
		</settingConfig>
	</setting>

    <setting propertyKey="@Properties.HighlightColor" title="@Strings.HighlightColorTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ColorRed</listEntry>
            <listEntry value="2">@Strings.ColorDKRed</listEntry>
            <listEntry value="3">@Strings.ColorBlue</listEntry>
            <listEntry value="4">@Strings.ColorDKBlue</listEntry>
            <listEntry value="5">@Strings.ColorGreen</listEntry>
            <listEntry value="6">@Strings.ColorDKGreen</listEntry>
            <listEntry value="7">@Strings.ColorOrange</listEntry>
            <listEntry value="8">@Strings.ColorLightGray</listEntry>
            <listEntry value="9">@Strings.ColorDarkGray</listEntry>
            <listEntry value="10">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>
</settings>
